*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --pink: hsl(322, 100%, 66%);
    --paleCyan: hsl(193, 100%, 96%);
    --darkCyan: hsl(192, 100%, 9%);
    --grayishBlue: hsl(208, 11%, 55%);
    --poppins: 'Poppins', sans-serif;
    --sansSerif: 'Open Sans', sans-serif;
}

body{
    font-family: var(--sansSerif);
    min-height: 100vh;
    overflow-x: hidden;
    width: 100vw;
    position: relative;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}
/*common*/
.button{
    border: none;
    background: transparent;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    outline: none;
    padding: .75rem 3rem;
}
.container{
    margin: auto;
    padding: 2.5rem 7.5rem;
}
.title{
    font-size: 3rem;
    font-family: var(--poppins);
    font-weight: 600;
    line-height: 4rem;
}
.sub__title{
    font-size: 2rem;
    font-weight: 700;
}
.paragraph{
    color: var(--grayishBlue);
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 2rem 0;
}
img{
    width: 100%;
}

/*home*/

.home__content{
    margin-top: 5rem;
}

header{
    background-image: url(../images/bg-hero-desktop.svg);
    background-color: #edfbfe;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100vw;
}
.logo{
    width:12.5rem;
}
.home__content__right__image{
    width: 45vw;
}

.home__top__button{
    background: #fff;
}
.home__content__left__button{
    background: var(--pink);
    color: #fff;
}


/*cards*/
.cards{
    padding-top: 5rem;
    padding-bottom: 15rem;
}
.card__image{
    width: 22.5rem;
}
.card{
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.075);
    padding: 3rem 2rem 3rem 10rem;
    margin: 2rem 0;
}


/*footer*/
.footer {
    background: var(--darkCyan);
    color: #fff;
    position: relative;
    padding: 5rem 0;
}
.footer a{
    color: #fff;
    text-decoration: none;
}

.footer__contacts{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.footer__contacts img{
    width: 15px;
}
.footer__contacts .logo img{
    width: 100%;
}
.footer__contacts .logo{
    width: 15rem;
}
.footer__links{
    width: 200px;
}
.footer__links ul{
    list-style: none;
}
.footer__links .flex{
    flex-wrap: wrap;
}
.social__link{
    border: 1px solid #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content:center;
    cursor: pointer;
}

/*community*/

.community{
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.075);
    color: #000;
    width: 50%;
    padding:  4rem 0;
    position: absolute;
    text-align: center;
    top: -20%;
    left: 50%;
    transform: translate(-50%,-20%);
    
    
}
.community__button{
    background: var(--pink);
    color: #fff;
    padding: 1rem 4rem;
    margin-top: 2rem;
}

.copyright__text{
    bottom: 5%;
    font-size: .75rem;
    position: absolute;
    right: 5%;

}

/*media query*/
@media only screen and (max-width: 600px) {
    header{
        background-image: url(../images/bg-hero-mobile.svg);
        background-color: #edfbfe;
        background-size: cover;
        background-position: center;
        height: 125vh;
        width: 100vw;
    }
    .home__top{
        flex-direction: row !important;
    }
    
    header .logo{
        width: 10rem;
    }
    .home__content__left{
        text-align: center;
    }
    .home__content__left h1{
        font-size: 2rem;
        line-height: unset;
    }
    .button{
        font-size: .75rem;
    }
    .home__content__right__image{
        width: 80vw;
    }
    
    .flex{
        flex-direction: column;
    }
    .container{
        padding: 2rem;
    }
    .cards{
        padding-bottom: 10rem;
    }
    .card{
        padding: 3rem 1.5rem;
    }
    .footer .container{
        justify-content: flex-start;
        align-items: flex-start;
    }
    .footer__links{
        width: unset;
    }
    .social__links{
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
    }
    
    .community{
        width: 95vw;
        padding: 3rem .5rem;
        top: -10%;
    }
    .sub__title{
        font-size: 1.25rem;
        margin: 1rem 0;
    }
    .paragraph{
        margin: 1rem 0;
        font-size: .75rem;
    }

    .footer__links .flex{
        align-items: flex-start;
    }
  }